# Created by .ignore support plugin (hsz.mobi)
.idea/compiler.xml
.idea/copyright/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
simple-simon.iml
compiler.xml
copyright/
misc.xml
modules.xml
workspace.xml
